.block1{
  background-image: url('background.png');
  position:relative;
  overflow:hidden;
  border-radius:0 0 50% 50%;
  height: 600px
}
.block2{
  background-color: #5653b9;
  margin-top: 60px;
}
.row-1{
  margin-top: 20px;
}
.row-2{
  margin-top: 100px;
}
.row-6{
  margin-top: 40px;
}
.row-7{
  margin-top: 20px;
}
.row-8{
  margin-top: 50px;
}
.row-9{
  margin-top: 50px;
}
.row-13{
  margin-top: 80px;
  padding-bottom: 100px;
}
.container{
  box-shadow: 0 2px 4px rgba(148, 148, 148, 0.5);
  border-radius: 10px;
}
.col-3{

}
.logo{
  margin-left: 70px;
}
.btn{
  border-radius: 10px;
  width: 164px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
}
.btn-success{
  background-color: #31d078;
}
.cursos{
  background-color: #31d078;
  margin-top: 50px;
  align-self: center;
  width: 200px;
}
.outline{
  width: 210px;
}
.nav{
  font-size: 16px;
}
.flecha{
  width: 71px;
  height: 71px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: -40px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(148, 148, 148, 0.5);
}
.nav-link{
  font-weight: 600;
  color: #ffffff;
}
.title{
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
}
.subtitle{
  margin-top: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}
.buy{
  width: 228px;
  height: 42px;
  border-radius: 5px;
  background-color: #5653b9;
  font-size: 13px;
  padding: 5px;
}
.t1{
  padding-right: 270px;
}
.t2{
  padding-right: 270px;
}
.t3{
  padding-right: 270px;
}
.t4{

}
.p{
  padding: 10px;
}
.p1{
  text-align: center;
  width: 596px;
  height: 78px;
  font-size: 35px;
  font-weight: 600;
  margin-left: 25px;
  margin-top: 50px;
}
.p2{
  text-align: center;
  width: 566px;
  height: 44px;
  font-size: 20px;
  font-weight: 400;
  margin-left: 45px;
  margin-top: 20px;
}
.p3{
  width: 136px;
  height: 13px;
  color: #101116;
  font-size: 12px;
  font-weight: 400;
  padding: 8px;
}
.p4{
  width: 193px;
  height: 37px;
  color: #202025;
  font-size: 16px;
  font-weight: 600;
  padding-left: 8px;
}
.p5{
  width: 80px;
  height: 10px;
  color: #686868;
  font-size: 12px;
  font-weight: 500;
  margin-top: 5px;
}
.p6{
  width: 433px;
  height: 35px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-top: 35px;
}
.p7{
  width: 566px;
  height: 44px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 350;
  text-align: center;
  margin-left: 50px;
  margin-top: 15px;
}
.p8-1{
  opacity: 0.15;
  color: #ffffff;
  font-size: 60px;
  font-weight: 600;
  margin-top: -25px;
  margin-left: 20px;
  text-align: right;
}
.p8-2{
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.p8-3{
  color: #ffffff;
  font-size: 14px;
  margin-top: -10px;
}
.c-13-1{
  margin-left: 50px;
}
.c-13-2{
  margin-left: -50px;
}
.c-13-3{
  margin-left: -50px;
}
.c-13-4{
  margin-left: -50px;
}
